<ul class="bg-blue-900 text-black flex px-[35rem] font-extrabold ">
    <a href="/" class="m-2 hover:text-white"><ul>SignUp</ul></a>
    <a href="/loginn" class="m-2 hover:text-white"><ul>Login</ul></a>
    <a href="/auth" class="m-2 hover:text-white"><ul>Authpage</ul></a>
</ul>